@import "./color_schemes/dark";

.fa-file-zipper {
    color: $blue-000; 
}

.fa-file-pdf {
    color: $blue-000;  
}

.fa-php {
    color: $blue-000;   
}

.fa-markdown {
    color: $blue-000; 
}

.fa-database {
    color: $blue-000; 
}

/*******************************/

// For some still undefined reason that's not working
// Update: yep it works, it just needs to be tagged: "!important"
// // .bg-purple-epic-custom01 {
// //     background-color: #342D7E;
// // }

.bg-purple-epic-custom01 {
    background-color: #342D7E !important;
}

/*******************************/

// Blockquote fixing
// Since blockquote titles in dark mode result too dark due to a bug that prevents lighter colors to opt in, we tacke the problem by manually defining lighter colors and applying them to the blockquote titles via inline css.
// DO NOT FORGET INLINE CSS FOR <p></p>!

// Fixing purple
.blockquote-title-fixer-purple {
    color: $purple-000 !important;
}

// Fixing blue
.blockquote-title-fixer-blue {
    color: $blue-000 !important;
}

// Fixing grey-dk
.blockquote-title-fixer-grey-dk {
    color: $grey-dk-000 !important;
}

// Fixing green
.blockquote-title-fixer-green {
    color: $green-000 !important;
}
