/* Grandieri Andrea */

div#containerindex
{
	width: 870px;
	margin: 0 0 0 20px; /* top right bottom left */ 
	padding: 0;	
}

div#signature
{
    font-size: 12px;
    color: grey;
}

table, th, td 
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	padding: 15px;
}	

th
{
	text-align: left;
}

table
{
	border-spacing: 5px;
}

button.buttonstyle1 {
  background-color: #b2e0ff;
  border: 1px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

div.gc1
{
  font-size: 30px;
  font-weight: bold;
}

div.gc2
{
  font-size: 20px;
}

.CodeMirror
{
  background-color: grey;
}
