@import "./color_schemes/light";

.fa-file-zipper {
    color: $purple-000; 
}

.fa-file-pdf {
    color: $purple-000;     
}

.fa-php {
    color: $purple-000;   
}

.fa-markdown {
    color: $purple-000; 
}

.fa-database {
    color: $purple-000; 
}

.fa-gear {
    color: $purple-000; 
}

/*******************************/

// Labels custom background colors

.label-relax-color {
    background-color: #00635b !important;
}

.label-end-color {
    background-color: #213e35 !important;
}

.label-missing-color {
    background-color: #000000 !important;
}

.label-archived-color {
    background-color: #342D7E !important;
}

.label-function-visibility-color {
    background-color: #505050 !important;
}

.hr_language_selector {
    height: 1px;
    padding: 0;
    margin: 2rem 0;
    background-color: #6e7676e3;
    border: 0;
}

.nav-list-link-override-first {
    // Overrides the purple color of the first link in the nav list (rule defined by the theme)
    // Hardcoded color taken from the original theme! Should be changed if the theme one changes
    color: #5c5962 !important;
}

.nav-list-expander-override-first {
    // Overrides the purple color of the first link in the nav list (rule defined by the theme)
    // Hardcoded color taken from the original theme! Should be changed if the theme one changes
    color: #5c5962 !important;
}
