@import "./color_schemes/light";

.fa-file-zipper {
    color: $purple-000; 
}

.fa-file-pdf {
    color: $purple-000;     
}

.fa-php {
    color: $purple-000;   
}

.fa-markdown {
    color: $purple-000; 
}

.fa-database {
    color: $purple-000; 
}

/*******************************/

// Labels custom background colors

.label-relax-color {
    background-color: #00635b !important;
}

.label-end-color {
    background-color: #213e35 !important;
}

.label-missing-color {
    background-color: #000000 !important;
}

.label-archived-color {
    background-color: #342D7E !important;
}
