{% comment %} {%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%} {% endcomment %}

<!-- <p class="text-small text-grey-dk-100 mb-0"> -->
  <!-- N.B.: modifying this fragment will cause the recompilation of the
  whole site, including all the "has been updated dates" -->
  <!-- N.B.: well-defined site compilation rules will prevent
  "has been updated dates" from being inconsistent -->

  <!-- Here -->
  <!-- <em> This page has been updated on {{ "now" | date: "%m/%d/%Y %T" }} (mm/dd/YYYY). </em> -->
  <!-- A variable called "last_modified_date" must be set in every page composing the website -->
  <!-- <em> This page has been updated on {{ page.last_modified_date | date: "%m/%d/%Y" }} (mm/dd/YYYY). </em> -->
<!-- </p> -->
