# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    
defaults:
  run:
    working-directory: src    

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    
    - name: Prettier Action
      uses: creyD/prettier_action@v3.3
      with:
        # This part is also where you can pass other options, for example:
        prettier_options: --write /*/*.*
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
              
    - run: |
        Xvfb :99 -screen 0 1024x768x16 &
        export DISPLAY=:99
        npm i -g recursive-install
        npm-recursive-install
        npm run test:prettier
        npm run test:js
        npm run test:css
        npm run test:e2e
        npm run test:unit
